<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoWebShop_Project">
  <test thread-count="5" name="M10_Release1">
  
    <classes>
      <class name="iTexttPdf.ImgtoPDF"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
